<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Secure File Storage</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
  </head>
  <body>
    <div class="container">
      <h1>Welcome to Secure File Storage</h1>
      <div class="btn-container">
        <a href="{{ url_for('register') }}" class="btn">Register</a>
        <a href="{{ url_for('login') }}" class="btn">Login</a>
      </div>
    </div>
  </body>
</html>
