<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>ZypherVault - Enter File Password</title>
    <link
      rel="icon"
      type="image/png"
      href="{{ url_for('static', filename='logo.png') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <h1>Enter File Password to View {{ filename }}</h1>
      {% with messages = get_flashed_messages(with_categories=true) %} {% if
      messages %}
      <ul class="messages">
        {% for category, message in messages %}
        <li class="{{ category }}">{{ message }}</li>
        {% endfor %}
      </ul>
      {% endif %} {% endwith %}
      <form
        action="{{ url_for('receivers_enter_file_password', filename=filename, shared_file_id=shared_file_id) }}"
        method="post"
      >
        <label for="file_password">File Password:</label>
        <input
          type="password"
          id="file_password"
          name="file_password"
          required
        />
        <input type="submit" value="View File" />
      </form>
      <a href="{{ url_for('home') }}">Back to Dashboard</a>
    </div>
  </body>
</html>
