<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>ZypherVault - Reset File Password</title>
    <link
      rel="icon"
      type="image/png"
      href="{{ url_for('static', filename='logo.png') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <h1>Reset File Password</h1>
      {% with messages = get_flashed_messages(with_categories=true) %} {% if
      messages %}
      <ul class="messages">
        {% for category, message in messages %}
        <li class="{{ category }}">{{ message }}</li>
        {% endfor %}
      </ul>
      {% endif %} {% endwith %}
      <form
        action="{{ url_for('reset_file_password_by_email', token=token) }}"
        method="post"
      >
        <label for="new_file_password">New File Password:</label>
        <input
          type="password"
          id="new_file_password"
          name="new_file_password"
          required
        />
        <label for="login_password">Confirm Your Login Password:</label>
        <input
          type="password"
          id="login_password"
          name="login_password"
          required
        />
        <input type="submit" value="Reset File Password" />
      </form>
      <a href="{{ url_for('login') }}">Back to Login</a>
    </div>
  </body>
</html>
