<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>ZypherVault - Reset File Password Options</title>
    <link rel="icon" type="image/jpg" href="{{ url_for('static', filename='logo.jpg') }}">
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <h1>Reset File Password</h1>
      {% with messages = get_flashed_messages(with_categories=true) %} {% if
      messages %}
      <ul class="messages">
        {% for category, message in messages %}
        <li class="{{ category }}">{{ message }}</li>
        {% endfor %}
      </ul>
      {% endif %} {% endwith %}
      <p>Please choose an option:</p>
      <div class="btn-container">
        <a href="{{ url_for('change_file_password') }}" class="btn"
          >Change File Password (I remember my old password)</a
        >
        <a href="{{ url_for('forgot_file_password_email') }}" class="btn"
          >Forgot File Password (via Email)</a
        >
      </div>
      <a href="{{ url_for('home') }}">Back to Dashboard</a>
    </div>
  </body>
</html>
