<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>ZypherVault - Share File</title>
    <link rel="icon" type="image/jpg" href="{{ url_for('static', filename='logo.jpg') }}">
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <div class="container">
      <h1>Share a File</h1>
      {% with messages = get_flashed_messages(with_categories=true) %} {% if
      messages %}
      <ul class="messages">
        {% for category, message in messages %}
        <li class="{{ category }}">{{ message }}</li>
        {% endfor %}
      </ul>
      {% endif %} {% endwith %}
      <form action="{{ url_for('share') }}" method="post">
        <label for="filename">Select File:</label>
        <select name="filename" id="filename" required>
          {% for file in user_files %}
          <option value="{{ file.filename }}">{{ file.filename }}</option>
          {% endfor %}
        </select>
        <label for="recipient_username">Recipient Username:</label>
        <input
          type="text"
          id="recipient_username"
          name="recipient_username"
          required
        />
        <label for="file_password">Your File Password:</label>
        <input
          type="password"
          id="file_password"
          name="file_password"
          required
        />
        <input type="submit" value="Share" />
      </form>
      <a href="{{ url_for('home') }}">Back to Dashboard</a>
    </div>
  </body>
</html>
