{% extends "base.html" %}

{% block title %}ZypherVault - Share File{% endblock %}

{% block content %}
<div class="share-file-container">
  <h1>Share a File</h1>
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      <ul class="messages">
        {% for category, message in messages %}
          <li class="{{ category }}">{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
  <form class="share-file-form" action="{{ url_for('share') }}" method="post">
    <label for="filename">Select File:</label>
    <select name="filename" id="filename" required>
      {% for file in user_files %}
        <option value="{{ file.filename }}">{{ file.filename }}</option>
      {% endfor %}
    </select>
    <label for="recipient_username">Recipient Username:</label>
    <input type="text" id="recipient_username" name="recipient_username" required />
    <label for="file_password">Your File Password:</label>
    <input type="password" id="file_password" name="file_password" required />
    <input type="submit" value="Share" />
  </form>
  <a href="{{ url_for('home') }}">Back to Home</a>
</div>
{% endblock %}
